/* Write your code here. */

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: linear-gradient(to right, #1d976c, #93f9b9);
}

.letters-calculator-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
}
@media screen and (min-width: 768px) {
  .letters-calculator-container {
    flex-direction: row;
  }
}

.letters-calculator-image {
  width: 100%;
  order: 0;
}

@media screen and (min-width: 768px) {
  .letters-calculator-image {
    width: 50%;
    order: 1;
  }
}

.input-phrase-container {
  display: flex;
  flex-direction: column;
}

.text-container {
  order: 1;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .text-container {
    order: 0;
  }
}

.heading {
  color: white;
  font-size: 24px;
  font-family: roboto;
}
@media screen and (min-width: 768px) {
  .heading {
    font-size: 48px;
  }
}

.label {
  color: white;
  font-size: 16px;
  font-family: roboto;
}
@media screen and (min-width: 768px) {
  .label {
    font-size: 12px;
  }
}

.input-text {
  color: white;
  font-size: 12px;
  font-family: roboto;
  background-color: transparent;
  outline: none;
  margin-top: 2px;
  border: 1px solid white;
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  .input-text {
    font-size: 24px;
  }
}

.output {
  align-self: center;
  color: #219a6f;
  background-color: #ffffff;
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: bold;
  border-radius: 12px;
  margin-top: 32px;
  padding: 18px;
  padding-right: 24px;
  padding-left: 24px;
}
@media screen and (min-width: 768px) {
  .output {
    align-self: start;
    padding: 24px;
    padding-right: 32px;
    padding-left: 32px;
  }
}
